# ===================================
# GLOBAL
# ===================================
# Variáveis de ambiente
.env
.env.*
*.local
*.log
logs/

# ===================================
# .NET / ASP.NET Core
# ===================================
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.pdb
**/*.dll
**/*.exe

# Configurações sensíveis
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
appsettings.json
appsettings.Development.json

# Testes
**/TestResults/
*.trx

# Pacotes
**/packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# ===================================
# Visual Studio / VS Code / JetBrains
# ===================================
.vs/
.vscode/
.idea/
*.sln.iml
*.dotCover
*.resharper
*.DotSettings.user

# ===================================
# Node / Frontend (Angular, React, etc.)
# ===================================
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Angular
**/dist/
.angular/
*.tgz
*.tsbuildinfo
